<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="MainDatabase"
       connectionString="Data Source=YOUR_SQL_SERVER;Initial Catalog=DB4System;User ID=YOUR_USER;Password=YOUR_PASSWORD;Encrypt=False;MultipleActiveResultSets=True;Connect Timeout=15"
       providerName="System.Data.SqlClient" />
</connectionStrings>
